@charset "utf-8";
/* Documento CSS de formatação dos site
 * Author: Fábio C.S. Miranda e Marcos Saturno
 */
@import 'reset.css';
@import 'text.css';

.float_right{
    float: right;
}

.float_left{
    float: left;
}

/*======Containers===========================================*/
#div_bottom_content, #div_topo_content, #div_main_index, #div_main_container{
    margin: 0 auto;
}

#div_main_container{
	background-image: url('../img/bg_web.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}



/*====Header(top_menu.php)============*/
#div_topo_content{
	height: 160px;
	position: relative;
}

#div_menu{
	height: 160px;
}

#menu{
    position: absolute;
    bottom: 0;
    right: 0;
}

#menu li{
    display: inline-block;
    padding: 10px;
}

#menu li:hover, .menu_active{
	background-color: #b8312f;
	color: #fff;
}
/*  Menu Links  */

#menu a{
  color: #000;
  text-decoration: none;
  font-family: 'Ek Mukta', sans-serif;
  font-weight: 200;
  font-size: 2em;
}
#menu li:hover a, #menu .menu_active a{
	color: #fff;
}
#div_logo{
    float: left;
    margin: 10px;
    height: 140px;
}

.helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#div_logo img{
        vertical-align: middle;
	width: 90%;
}

#div_topo{
	background-color: #efefef;
}




/*======Rodapé(bottom)===========================================*/

#div_bottom{
	background-color: #b8312f;
	color: #fff;
        padding: 15px;
}

#div_bottom_text a{
    margin-left: 10px;
}

#div_bottom_text p{
	margin-top: 10px;
	font-size: 1.4em;
        line-height: 1em;
}

#div_bottom_text img{
	width: 20px;
}

#div_bottom_social a{
    margin-right: 10px;
}

#div_bottom_social ul{
	list-style: none;
}

#div_bottom_social li{
	display: inline;
	text-decoration: none;
	/*width: 50px;*/
}

#div_bottom a{
	text-decoration: none;
	color: #fff;
}

#div_bottom_social li img{
    width: 50px;
}
#div_siganos{
    float: right;
    width: 180px;
}

#social_icons{
    
}

/*======Páginas===========================================*/

/* Index */
#div_main_banner{
        width: 100%;
	margin-top: 15px;
        max-height: 350px;
}
#slider{
    max-height: 300px
}
.div_main_content{
	margin-top: 15px;
	background-color: rgba(255,255,255,0.8);
	margin-bottom: 35px;
}
.div_main_content_txt{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    padding: 10px;
}
.div_main_content img{
	border: 10px solid white;
        width: 90%;
}

.div_main_content a{
	color: #b8312f;
	font-weight: bold;
	text-decoration: none;
	float: right;
	font-size: 1.6em;
	margin-bottom: 20px;
        margin-right: 10px;
}

.div_main_content p, #div_empresa p , #div_servicos p, #div_servicos li{
	color: #000;
	font-size: 1.5em;
	font-weight: 500;
}
.main_text{
    padding:15px
}
.div_main_content h3{
	background-color: #b8312f;
	color: #fff;
	text-align: center;
	font-weight: 200;
        margin-bottom: 10px;
        padding: 5px;
        font-size: 2.0em;
}

/*Empresa*/
#div_empresa, #div_servicos{
    width: 100%;
    margin-top: 15px;
    background-color: rgba(255,255,255,0.8);
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    padding: 15px;
}

#div_empresa p, #div_empresa h1, #div_servicos p, #div_servicos h1{
    margin-left: 10px;
    margin-bottom: 15px;
}

#image_empresa{
    border: 10px solid white;
    width: 30%;
    margin: 0 50px 50px 50px;
    float: right;
}

/* Serviços */
#div_servicos #div_textos_servicos{
    float: left;
    width: 45%;
}

#div_itens_servicos{
    float: right;
    margin-right: 10%;
    margin-top: 12px;
}

#div_itens_servicos h2{
    color: #078C2E;
    font-weight: 700;
    margin-bottom: 10px;
}

#div_itens_servicos li{
    list-style: disc;
    margin-left: 10px;
    list-style-position: inside;
}

/*Cotações*/
.fieldset_left{
	width: 550px;
	float: left;
	margin-left: 1%;
}

.fieldset_right{
	width: 550px;
}

.div_cot_txt, .div_cot_form{
	background-color: rgba(255,255,255,0.5);
	margin-top: 20px;
	padding: 20px;
}

.div_cot_form{
	height: 450px;
	position: relative;
}

.div_cot_txt h1, .div_cot_txt p, .div_cot_form label{
	font-family: 'Ek Mukta', sans-serif;
}

.div_cot_txt h1{
	color: #b8312f;
	margin-bottom: 20px;
}

.div_cot_txt p{
	color: black;
	font-size: 1.3em;
	font-weight: 600;
	text-align: justify;
}

.div_cot_form input, .div_cot_form textarea, .div_cot_form select {
	margin-top: 10px;
	margin-bottom: 10px;
	height: 30px;
	border: 1px solid red;
	width: 100%;
}

.div_cot_form label{
	color: #000;
	font-size: 1.2em;
	margin-top: 20px;
}

.div_cot_form img{
	width: 30px;
	margin-top: 10px;
	cursor: pointer;
}

.form_msg{
	margin-top: 20px;
	margin-bottom: 20px;	
	color: black;
	width: 60%;
	font-size: 1.1em;
	font-weight: 600;
	font-family: 'Ek Mukta', sans-serif;
	/*text-align: justify;*/
}

.form_buttons{
	height: 30px;
	position: absolute;
	bottom: 40px;
	right: 10px;
}

.div_cot_form button{
	float: right;
	height: 30px;
	width: 140px;
	background-color: #b8312f;
	border: 0;
	color: #fff;
	font-size: 1.1em;
	font-weight: 600;
	font-family: 'Ek Mukta', sans-serif;
}

.div_cot_form input[type="submit"]{
	float: right;
	height: 30px;
	width: 140px;
	background-color: #078C2E;
	border: 0;
	color: #fff;
	font-size: 1.1em;
	font-weight: 600;
	font-family: 'Ek Mukta', sans-serif;
	margin-top: 0;
	margin-right: 20px;
}

.form_input_half{
	width: 47%;
}
	
.form_fl_right{
	float: right;
}

.form_fl_left{
	float:left; 
}

.form_input_70{
	width:70%; 
}

.form_input_25{
	width:25%; 
	float:right;
}

.form_input_third_last{
	margin-right: 15px;
	width: 30%; 
	float:right; 
}

.form_input_third{
	width: 30%; 
	float:left; 
	margin-right: 2.3%
}