@charset "utf-8";
/* Documento CSS de formatação dos site
 * Author: Fábio C.S. Miranda e Marcos Saturno
 */
@import 'reset.css';
@import 'text.css';

/*======Containers===========================================*/
#div_bottom_content, #div_topo_content, #div_main_index, #div_main_container{
    margin: 0 auto;
}

#div_main_container{
	height: 780px;
	background-image: url('../img/bg_web.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	/*Essa balaca aqui ia ficar mto legal: */
	/*background-attachment: fixed;*/
}



/*====Header(top_menu.php)============*/
#div_topo_content{
	height: 160px;
	position: relative;
}

#div_menu{
	height: 160px;
}

#menu{
    position: absolute;
    bottom: 0;
    right: 0;
}

#menu li{
    display: inline-block;
    padding: 10px;
}

#menu li:hover{
	background-color: #b8312f;
	color: #fff;
}
/*  Menu Links  */

#menu a{
  color: #000;
  text-decoration: none;
  font-family: 'Ek Mukta', sans-serif;
  font-weight: 200;
  font-size: 2em;
  /*padding-right: 10px;*/
  /*padding-top: 10px;*/
}
#menu li:hover a{
	color: #fff;
}
#div_logo{
	float: left;
	border-bottom: 30px;
	margin-top: 15px;
}

#div_logo img{
	width: 100%;
}

#div_topo{
	background-color: #efefef;
}




/*======Rodapé(bottom)===========================================*/

#div_bottom{
	background-color: #b8312f;
	color: #fff;
        padding: 10px;
}

#div_bottom_text{
	float: left;
}

#div_bottom_text p{
	margin-top: 10px;
	font-size: 1.1em;
}

#div_bottom_text img{
	width: 20px;
}

#div_bottom_social{
	float: right;
}

#div_bottom_social ul{
	list-style: none;
}

#div_bottom_social li{
	display: inline;
	text-decoration: none;
	/*width: 50px;*/
}

#div_bottom a{
	text-decoration: none;
	color: #fff;
}

#div_bottom_social li img{
	/*width: 50px;*/
}

#social_icons{
	float: right;
}

/*======Páginas===========================================*/

/* Index */
#div_main_banner{
	margin-top: 15px;
}

.div_main_content{
	margin-top: 15px;
	background-color: rgba(255,255,255,0.5);
	margin-bottom: 35px;
}

.div_main_content img{
	margin-top: 20px;
	margin-bottom: 20px;
	/*border: 5px solid white inset;*/
}

.div_main_content a{
	color: #b8312f;
	font-weight: bold;
	text-decoration: none;
	float: right;
	font-size: 1.4em;
	margin-bottom: 20px;
}

.div_main_content p{
	color: #000;
	font-size: 1.4em;
	font-weight: bold;
}

.div_main_content h3{
	background-color: #b8312f;
	color: #fff;
	text-align: center;
	font-weight: 200;
}

/*Cotações*/

.fieldset_left{
	float: left;
	margin-left: 1%;
}

.div_cot_txt, .div_cot_form{
	background-color: rgba(255,255,255,0.5);
	margin-top: 20px;
	padding: 20px;
}

.div_cot_form{
	height: 450px;
	position: relative;
}

.div_cot_txt h1, .div_cot_txt p, .div_cot_form label{
	font-family: 'Ek Mukta', sans-serif;
}

.div_cot_txt h1{
	color: #b8312f;
	margin-bottom: 20px;
}

.div_cot_txt p{
	color: black;
	font-size: 1.3em;
	font-weight: 600;
	text-align: justify;
}

.div_cot_form input, .div_cot_form textarea, .div_cot_form select {
	margin-top: 10px;
	margin-bottom: 10px;
	height: 30px;
	border: 1px solid red;
	width: 100%;
}

.div_cot_form label{
	color: #000;
	font-size: 1.2em;
	margin-top: 20px;
}

.div_cot_form img{
	width: 30px;
	margin-top: 10px;
	cursor: pointer;
}

.form_msg{
	margin-top: 20px;
	margin-bottom: 20px;	
	color: black;
	width: 60%;
	font-size: 1.1em;
	font-weight: 600;
	font-family: 'Ek Mukta', sans-serif;
	/*text-align: justify;*/
}

.form_buttons{
	height: 30px;
	position: absolute;
	bottom: 40px;
	right: 10px;
}

.div_cot_form button{
	float: right;
	height: 30px;
	width: 140px;
	background-color: #b8312f;
	border: 0;
	color: #fff;
	font-size: 1.1em;
	font-weight: 600;
	font-family: 'Ek Mukta', sans-serif;
}

.div_cot_form input[type="submit"]{
	float: right;
	height: 30px;
	width: 140px;
	background-color: #078C2E;
	border: 0;
	color: #fff;
	font-size: 1.1em;
	font-weight: 600;
	font-family: 'Ek Mukta', sans-serif;
	margin-top: 0;
	margin-right: 20px;
}