/**Fonts import from Google fonts:*/
@import url(http://fonts.googleapis.com/css?family=Ek+Mukta:200,500,700);

@font-face {
    font-family: 'Ek Mukta';
    src: url('fonts/EkMukta-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/* `Basic HTML
----------------------------------------------------------------------------------------------------*/
body {
  font: 14px/1.3 'Ek Mukta', Calibri, Arial, Helvetica, Tahoma, Verdana, sans-serif;
  color: #b8312f;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/

h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.3em;
}

h6 {
  font-size: 1.1em;
}

/* `Spacing
----------------------------------------------------------------------------------------------------*/

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  /*margin-left: 15px;*/
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  /*margin-bottom: 25px;*/
}

.align_right{
    text-align: right;
}
.align_left{
    text-align: left;
}
.align_center{
    text-align: center;
}
